h1 {
  background-color: rgb(199, 167, 39);
  /* overall padding*/
  padding: 40px;

  /* bottom+top left+right padding
   padding: 40px 20px;  */

  /*  or all out: top, right, bottom, left;
   padding: 20px 10px 40px 10px;  */

  /* the same options you have for padding apply to margin too */
  /* margin-bottom: 0; */
  margin: 20px;
  border: 1cm groove blueviolet;
  border-radius: 20px;
}

p {
  color: rgb(38, 0, 128);
  background-color: greenyellow;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 40px;

  /* margin-top: 0; */
  margin: 30px;
  border-style: groove;
  border-width: 10px;
  border-color: purple;
  border-radius: 15px;

  font-size: 20px;
}

/* buttons */
.buttons {
  margin: 3rem;
}
.btn1 {
  background-color: rgb(198, 180, 218);
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
}
.btn2 {
  background-color: rgb(198, 180, 218);
  text-decoration: none;
  padding: 20px;
  border-radius: 10px;
}

/* links */
.lnks {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
  /* display: inline-block; */
  float: left;
  padding: 20px;
  background-color: rgb(132, 155, 179);
}

/* multiple settings */
.multy,
.multy1,
.multy2 {
  width: 100%;
  height: 150px;
  font-size: large;
  box-sizing: border-box;
}
.multy {
  background-color: rgb(224, 188, 188);
  box-sizing: border-box;
}
.multy1 {
  background-color: lightsteelblue;
}
.multy2 {
  background-color: deepskyblue;
}
