/* all sorts of transformations */
div {
  height: 150px;
  width: 150px;
  display: inline-block;
}
.one {
  background: rgb(238, 115, 140);
  /* transform: translateX(50%); */
  /* transform: scaleX(0.5); */
  transform: skewX(20deg);
}
.two {
  background: rgb(93, 220, 20);
  /* transform: translateY(30px); */
  /* transform: scaleY(2); */
  transform: rotateZ(45deg);
}
.thr {
  background: rgb(200, 190, 253);
  /* transform: translateX(75px); */
  /* transform: translate(20px, 30px); */
  transform: skewX(20deg);
}
